#star{
    width: 20px;
    height: 20px;
}

header{
    padding: 8px;
    background-color: rgb(186, 186, 247);
}




.nav-item {
    position: relative;
}

.hover-text {
    display: none;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    left: 0;
    background-color: rgb(210, 210, 248); 
    padding: 10px;
    border-top: none;
    font-size: 11px;
    text-align: center;
}

.nav-item:hover .hover-text {
    display: flex;
    margin-right: 10px;
}