#body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    height: 110vh;
}

.menu {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 110vh;
    
}

.menu-item {
    margin-bottom: 10px;
    font-size: 18px;
}

.menu-item:hover {
    background-color: #555;
}

.content {
    flex-direction: column;
    margin-left: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    display: flex;
    height: 110vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    width: 100%;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #555;
}



table {
    width: 150%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  td:last-child {
    text-align: center;
  }
  
  th, td {
    font-weight: normal;
  }
  
  th:first-child, td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  th:last-child, td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  td button:hover {
    background-color: #ff6347;
    color: #ffffff;
  }

#hoverG:hover{
    background-color: rgb(152, 233, 152);
}

#hoverR:hover{
    background-color: rgb(211, 104, 104);
}
  