<link rel="stylesheet" href="../../style/checkout.css">
<fieldset> 
    <legend>Personal Information</legend> 
    <div class="col"> 
        <p> 
            <label for="name">Name</label> 
            <input type="text" name="name" value="John Doe" /> 
        </p> 
        <p> 
            <label for="email">Email Address</label> 
            <input type="text" name="email" value="joh@doe.com" /> 
        </p> 
    </div> 
    <div class="col"> 
        <p> 
            <label for="address">Address</label> 
            <input type="text" name="address" value="123 Main Street" /> 
        </p> 
        <p> 
            <label for="city">City</label> 
            <input type="text" name="city" value="Toronto" /> 
        </p> 
        <p> 
            <label for="province">Province</label> 
            <input type="text" name="province" value="Ontario" /> 
        </p> 
        <p> 
            <label for="postal_code">Postal Code</label> 
            <input type="text" name="postal_code" value="A1B 2C3" /> 
        </p> 
        <p> 
            <label for="country">Country</label><input type="text" name="country" value="Canada" /> 
        </p> 
    </div> 
</fieldset>